<nav class="navbar navbar-expand-lg navbar-light orange">
  <div class="col-md-12" style="margin-top: 2%">

    <img src="../../../assets/images/icon-bar1.PNG" class="" alt="Menú">
    <img src="../../../assets/images/face-person.PNG" class="rounded-circle float-right" style="width: 55px; border:2px solid white"
      alt="Menú">
    <h3 class="title" style="font-weight: bold;" style="margin-top: 2%"> Datos de targeta</h3>
    <div class="menu">
      <label class="lbl-personas space-letter">Por favos completa algunos datos de tu tarjeta</label>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <section class="postion-card">
    <img src="../../../assets/images/card.PNG" class="rounded mx-auto d-block" alt="" style="width: 90%;">
  </section>

</nav> 

<section id="regster-container">
  <div class="col-md-12">
    <label class="lbl-register">Número de targeta</label>
    <div class="input-group" style="height: 50px; border: 1px solid #c9f9c9 !important;">
      <div class="input-group-prepend">
        <div class="input-group-text white">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </div>
      </div>
      <input id="btn-tarjeta" type="text" class="form-control" value="3773-654326-010" style="border-right: none">
      <div class="input-group-text white" style="border-left: none">
        <i class="fa fa-check-circle fa-lg" aria-hidden="true" style="color: #6ecc6e; float:inherit;"></i>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <label class="lbl-register">Clave de tarjeta</label>
    <div class="input-group" style="height: 50px; border: 1px solid #c9f9c9 !important;">
      <div class="input-group-prepend">
        <div class="input-group-text white">
          <i class="fa fa-lock black" style="color: black" aria-hidden="true"></i>
        </div>
      </div>
      <input id="btnUsuario" type="text" class="form-control" value="****" style="border-right: none">
      <div class="input-group-text white" style="border-left: none">
        <i class="fa fa-eye" aria-hidden="true" style="color:#007ab7"></i>
      </div>
    </div>
  </div>

</section>

<nav class="navbar fixed-bottom white">

  <label class="" style=" color: #097eb9; font-size: 25px; margin-right: 5px;">
    <</label>
      <label class="lbl-footer" style=" color: #097eb9;" (click)="login()">Volver</label>
      <img src="../../../assets/images/carousel.PNG" class="rounded mx-auto d-block" alt="">
      <label class="lbl-footer" style=" color: #ea751a;">Siguiente</label>
      <label class="" style=" color: #ea751a;font-size: 25px; margin-left: 5px;">></label>


</nav>